body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
}
li {
    text-decoration: none;
}
* {
    box-sizing: border-box;
}

a { 
    color: black;
}

nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 20px;
    margin-right: 40px;
    padding-right: 30px;
}
nav ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
}
nav svg {
    width: 20px;
    height: auto;
}

main {
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    max-width: 70%;
    align-self: center;
}

main h1 {
    font-size: 3rem;
    margin-bottom: 0;
}
main p {
    font-size: 1.5rem;
}
main button {
    padding: 16px;
    font-weight: 600;
    border: none;
    background-color: #000;
    color: #fff;
    width: 600px;
}
main div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 10px;
}

.gridContainer li {
    list-style: none;
}

.gridContainer li:nth-child(3n+1) {
    grid-column: span 2;
    grid-row: span 2;
}

.gridContainer img {
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width:1200px){
    .gridContainer {
        display: grid;
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        gap: 10px;
    }
}